<footer>
    <p>2024 My Recipe Site</p>
    <p>Used help from:</p>
    <p>Dr. Horn slides and github example</p>
    <p>Way too many websites to track</p>
    <p>DeepSeek for weird bugs and pretty much all of the .css styles</p>
</footer>
</body>
</html>