<header>
    <div class="header-container">
      <nav>
        <a href="/">Home</a>
        <a href="/recipes">All Recipes</a>
        <a href="/recipes/add/new">Add Recipe</a>
      </nav>
      <div class="header-image">
        <img src="/images/chefhat.png" alt="Recipe Logo">
      </div>
    </div>
  </header>