<header>
    <div class="header-container">
      <div class="logo-title">
        <div class="header-image">
          <img src="/images/chefhat.png" alt="Recipe Logo" >
          <h1 style="padding-top: 30; padding-left:25;">Social Circles</h1>
        </div>
      </div>
        <div class="auth-buttons">
          <button type="submit">Sign up</button>
          <button type="submit">Login</button>
        </div>
      
    </div>
  </header>