/* public/css/styleDark.css */

/* page background & text */
html, body {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  /* header */
  header {
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
  }
  

  
  /* buttons */
  .auth-button {
    background-color: #333333;
    color: #e0e0e0;
  }
  .auth-button:hover {
    background-color: #444444;
  }
  
  .back-icon {
    font-size:2rem;
    align-content: center;
    color: #e0e0e0;
  }
  /* canvas border */
  #gameCanvas {
    border: 5px solid #444444 !important;
  }

  /* character carousel button */
  .carousel-button {
    position: absolute;
    background:none;
    border:none;
    font-size: 4rem;
    top:50%;
    z-index: 2;
    transform:translateY(-50%);
    cursor: pointer;
    border-radius: 0.25rem;
    color: #cd9d59;
}

  
  /* form inputs, panels, etc… */
  input, select, textarea {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-color: #444;
  }
  