<!DOCTYPE html>
<html>
<head>
    <title>Character page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/carousel.js" defer></script>
</head>
<body>
    <h1>Meet tha crew</h1>
    <section class="character-list" aria-label="Character List">
        <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
            <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
            <ul data-slides>
                <li class="character-slide" data-active>
                    <img src="images/characters/chet.png" alt="Image of chet">
                    <h2>Chet</h2>
                    <p>Likes: The coal mine</p>
                    <p>Hates: Being rizzed up and down</p>
                </li>
                <li class="character-slide">
                    <img src="images/characters/harold.png" alt="Image of harold">
                    <h2>Harold</h2>
                    <p>Likes: Going to parties</p>
                    <p>Hates: Being rizzed up and down</p>
                </li>
                <li class="character-slide">
                    <img src="images/characters/henry.png" alt="Image of henry">
                    <h2>Henry</h2>
                    <p>Likes: Being rizzed up and down</p>
                    <p>Hates: The coal mine</p>
                </li>
                <li class="character-slide">
                    <img src="images/characters/howard.png" alt="Image of howard">
                    <h2>Howard</h2>
                    <p>Likes: The coal mine</p>
                    <p>Hates: Going to parties</p>
                </li>
                <li class="character-slide">
                    <img src="images/characters/margot.png" alt="Image of margot">
                    <h2>Margot</h2>
                    <p>Likes: Going to parties</p>
                    <p>Hates: The coal mine</p>
                </li>
                <li class="character-slide">
                    <img src="images/characters/melissa.png" alt="Image of melissa">
                    <h2>Melissa</h2>
                    <p>Likes: Being rizzed up and down</p>
                    <p>Hates: Going to parties</p>
                </li>
                <li class="character-slide">
                    <img src="images/characters/sharon.png" alt="Image of sharon">
                    <h2>Sharon</h2>
                    <p>Likes: The coal mine</p>
                    <p>Hates: Being rizzed up and down</p>
                </li>
                <li class="character-slide">
                    <img src="images/characters/tyler.png" alt="Image of tyler">
                    <h2>Tyler</h2>
                    <p>Likes: Going to parties</p>
                    <p>Hates: Being rizzed up and down</p>
                </li>
                <li class="character-slide">
                    <img src="images/characters/valerie.png" alt="Image of valerie">
                    <h2>Valerie</h2>
                    <p>Likes: Being rizzed up and down</p>
                    <p>Hates: The coal mine</p>
                </li>
            </ul>
        </div>
    </section>

</body>
</html>