<!DOCTYPE html>
<html>
<head>
    <title>Account Deactivated</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Account Deactivated</h1>
    <p>This account has been deactivated.</p>
    <u1>
        <form method="post" action="/reactivate">
          <input type="hidden" name="reactivate"/> 
          <button type="submit">Click here to reactivate</button>
        </form>
    </u1>

</body>
</html>