<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
    <link rel='stylesheet'
      href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <title>Social Circles</title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (user && darkMode) { %>
      <link rel="stylesheet" href="/css/styleDark.css">
    <% } %>
  </head>
    <body>
        <h1>Account Deactivated</h1>
        <p>This account has been deactivated.</p>
        <u1>
            <form method="post" action="/reactivate">
            <input type="hidden" name="reactivate"/> 
            <button class="account-button" type="submit">Click here to reactivate</button>
            </form>
        </u1>

    </body>
</html>