<!DOCTYPE html>
<html>
<head>
    <title>Account Deactivated</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Account Deactivated</h1>
    <p>This account has been deactivated.</p>
</body>
</html>