<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
    <link rel='stylesheet'
      href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <title>Social Circles</title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (user && darkMode) { %>
      <link rel="stylesheet" href="/css/styleDark.css">
    <% } %>
    <script src="./js/adminCommands.js"></script>
  </head>

  <body>
    <div class="header-page">
      <a href="/home" class="back-icon"><i class="fi fi-rs-arrow-left"></i></a>
      
      <h1 class="header-title">INSTRUCTIONS</h1>
    </div>

    <div class="account-body">
      <!-- Introduction -->
      <h2>Introduction</h2>
      <p>
        Welcome to Horn Studio's Social Circles! Have you ever been stuck talking to two very different people and had to navigate that whole deal? 
        Here at Horn Studios we cannot talk to people AT ALL!!! This idea of having to balance social responses based on people with very different, strong opinions inspired our game Social Circles. Read on to learn how to play!
      </p>

      <!-- How to Play Instructions -->
      <section>
        <h2>How to Play</h2>
        <p>
            In Social Circles, there are 3 circles of 3 people and you have 3 actions options. For each possible action, Party, Rizz Up, or Coal Mine, each character's happiness score is impacted either positively or negatively.
            To see each character's specific scores, view the "Characters" page. For each game round, you must select 1 circle to do 1 action to, which will result in a score based on the net happiness of each person in that group based on your action.
            Your goal is to maximize your score over 20 rounds. Good luck!
        </p>
      </section>

      <!-- Thank You -->
      <section>
        <h2>Thank You!</h2>
        <p>
            Thank you for playing our game, and we are confident victory will ensue for you as you navigate these social circles. The best way to support our dev team if you wish is to donate.
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="HornStudios" data-color="#cd9d59" data-emoji="ðŸº"  data-font="Cookie" data-text="Donate to the team" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
        </p>
      </section>
    </div>
  </body>
</html>
