<!DOCTYPE html>
<html lang="en">

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <meta charset="UTF-8" />

    <title>Social Circles</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <a href="/home" class="back-button">
        <i class="fi fi-rs-arrow-left"></i>
    </a>
    <h1 class="leaderb-header">SOCIAL CIRCLES</h1>

    <div class="leaderb-layout">




        <div class="leaderb-container">
            <h2 class="leaderb-title">Leaderboard</h2>
            <ol class="leaderb-list">
                <%leaderboardPlayers.forEach((player)=>{%>
                    <li>
                        <div class="leaderb-entry">
                            <p class="leaderb-name">
                                <%=player.name%>
                            </p>
                            <p class="leaderb-score">
                                <%=player.score%>
                            </p>
                        </div>
                    </li>
                <%})%>
            </ol>
            <div class="leaderb-user">
                <div class="leaderb-entry">
                    <p class="leaderb-rank">50.</p>
                    <p class="leaderb-name">
                        Name
                    </p>
                    <p class="leaderb-score">
                        0
                    </p>
                </div>
            </div>
        </div>

        <div class="leaderb-container">
            <h2 class="leaderb-title">Friends</h2>
            <ol class="leaderb-list">
                <%leaderboardPlayers.forEach((player)=>{%>
                    <li>
                        <div class="leaderb-entry">
                            <p class="leaderb-name">
                                <%=player.name%>
                            </p>
                            <p class="leaderb-score">
                                <%=player.score%>
                            </p>
                        </div>
                    </li>
                <%})%>
            </ol>
            <div class="leaderb-user">
                <div class="leaderb-entry">
                    <p class="leaderb-rank">50.</p>
                    <p class="leaderb-name">
                        Name
                    </p>
                    <p class="leaderb-score">
                        0
                    </p>
                </div>
            </div>
        </div>


        <div class="friend-container">
            <h2 class="leaderb-title">Add Friend</h2>
            <h2>Enter username to send a friend request</p>
                
        </div>


    </div>
</body>

</html>