<!DOCTYPE html>
<html lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
  <title>Social Circles</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body id="splashbody">

  <h1 class="site-header">WELCOME TO SOCIAL CIRCLES</h1>
  <div class="splashcontainer">

    <div>
      <img id="logo" src="/images/logo.png" alt="Horn Studios Logo" />
    </div>

    <div class="auth-container">
      <h2 class="auth-title">Log In</h2>

      <form method="post" action="/user_login">

        <label for="username">Username</label><br>
        <div class="auth-field">
          <div class="auth-icon">
            <i class="fi fi-rs-user"></i>
          </div>
          <input type="text" id="username" class="auth-text" name="username"
            placeholder="Enter your username" /><br><br>
        </div>

        <label for="password">Password</label><br>
        <div class="auth-field">
          <div class="auth-icon">
            <i class="fi fi-rs-lock"></i>
          </div>
          <input type="password" id="password" name="password" placeholder="Enter your password" /><br><br>
        </div>

        <div class="auth-actions">
          <div>
            <a href="/signup">Create an account</a>
            <br>
            <span>or</span>
            <br>
            <a href="/home">Continue as guest</a>
          </div>
          <input type="submit" class="auth-button" value="Login" />
        </div>

      </form>
    </div>
  </div>
</body>

</html>