<!DOCTYPE html>
<html lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <meta charset="UTF-8" />

  <title>Social Circles</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body id="splashbody">

  <h1 class="site-header">WELCOME TO SOCIAL CIRCLES</h1>
  <div class="splashcontainer">

    <div class="left-section">
      <img id="logo" src="/images/logo.png" alt="Horn Studios Logo" class="site-logo" width="500" />
    </div>

    <div class="right-section">
      <div class="login-container">
        <h2 class="login-title">Log In</h2>

        <form method="post" action="/user_login">
          <label for="username" class="login-label" style="font-weight: bold;">Username</label><br>
          <input type="text" id="username" name="username" class="login-input" placeholder="Enter your username"/><br><br>
  
          <label for="password" class="login-label" style="font-weight: bold;">Password</label><br>
          <input type="password" id="password" name="password" class="login-input" placeholder="Enter your password"/><br><br>
          <div class="login-actions">
            <div style="text-align: center;">
              <a href="/signup">Create an account</a>
              <br>
              <span>or</span>
              <br>
              <a href="/home">Continue as guest</a>
            </div>
            <input type="submit" class="login-button" value="Log In"/>
          </div>
        </form>
        


      </div>
    </div>
  </div>
</body>

</html>