<!DOCTYPE html>
<html lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <meta charset="UTF-8" />

  <title>Social Circles</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body id="splashbody">

  <h1 class="site-header">WELCOME TO SOCIAL CIRCLES</h1>
  <div class="splashcontainer">
    <div class="left-section">
      <img id="logo" src="/images/logo.jpg" alt="Horn Studios Logo" class="site-logo" width="500" />
    </div>

    <div class="right-section">
      <form action="login" method="post">

        <div class="login-container">
          <h2 class="login-title">Log In</h2>
          <label for="username" class="login-label" style="font-weight: bold;">Username</label>
          <br>
          <input type="text" id="username" name="username" class="login-input" placeholder="Enter your username" />
          <br>
          <br>
          <label for="password" class="login-label" style="font-weight: bold;">Password</label>
          <br>
          <input type="password" id="password" name="password" class="login-input" placeholder="Enter your password" />
          <br>
          <br>
          <input type="submit" value="submit">

      </form>
      <div class="login-actions">
        <div style="text-align: center;">
          <a href="/register">Create an account</a>
          <br>
          <span>or</span>
          <br>
          <a href="/home">Continue as guest</a>
        </div>
        
      </div>
    </div>
  </div>
  </div>
</body>

</html>