<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main>
    <section class="hero-section">
        <div class="hero-content">
          <h1>Social Circles</h1>
          <p>Catchphrase</p>
        </div>
        <div class="hero-image">
          
        </div>
   </section>
</main>

<%- include('../partials/footer') %>