<%- include('../partials/header') %>

  <body>
    <h1 id="auth-header">WELCOME TO SOCIAL CIRCLES</h1>

    <div id="auth-body">
      <img id="logo" src="/images/logo.png" alt="Horn Studios Logo" />

      <div id="auth-container">
        <span id="auth-title">Sign up</span>

        <form method="post" id="auth-form" action="/signup">
          <label for="username" class="auth-subtitle">Username</label>
          
          <div class="auth-field">
            <div class="auth-icon">
              <i class="fi fi-rs-user"></i>
            </div>
            
            <input type="text" name="username" class="auth-text" placeholder="Enter a username" />
          </div>

          <label for="password" class="auth-subtitle">Password</label>
          
          <div class="auth-field">
            <div class="auth-icon">
              <i class="fi fi-rs-lock"></i>
            </div>
            
            <input type="password" name="password" class="auth-text" placeholder="Enter a password" />
          </div>

          <div id="auth-actions">
            <div id="auth-switch">
              <a href="/">Switch to Login</a>
              
              <span>or</span>
              
              <a href="/guest">Continue as guest</a>
            </div>
            
            <input type="submit" id="auth-button" value="Signup" />
          </div>

        </form>
      </div>
    </div>
  </body>
</html>